html {
	overflow-y: scroll;
}


.prefered-max-width-forms {
	max-width: 700px;
}

.vertical-space-bottom-20 {
	margin-bottom: 20px;
}
.active {
    color: black;
}
a{
    color: darkgray;
}


.form-control-feedback {
	display: none;
}

.has-feedback {
	.form-control-feedback {
		display: block;
	}
}