html {
	overflow-y: scroll;
}


.prefered-max-width-forms {
	max-width: 700px;
}

.vertical-space-bottom-20 {
	margin-bottom: 20px;
}
.active {
    color: black;
}



.form-control-feedback {
	display: none;
}

.has-feedback {
	.form-control-feedback {
		display: block;
	}
}

.step-indicator {
	a{

		color: @gray-light;
		&.active {
			color:@gray-darker !important;
		}
	}

	&.disabled {
		a {	
    
			cursor: default;
			&:hover {
				text-decoration: none;
				color: @gray-light;	
			}

			&:active {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
}