'use strict';

module.exports = function(environment) {
  let ENV = {
    modulePrefix: 'frontend',
    environment,
    rootURL: '/',
    locationType: 'auto',
    'ember-local-storage': {
      namespace: true
    },
    EmberENV: {
      FEATURES: {
        // Here you can enable experimental features on an ember canary build
        // e.g. 'with-controller': true
      },
      EXTEND_PROTOTYPES: {
        // Prevent Ember Data from overriding Date.parse.
        Date: false
      }
    },

    APP: {
      casBaseUrl: 'https://<CAS BASE URL>',
      authenticationBaseUrl: '/api/sessions',
      serviceUrl: '/api',
      // Here you can pass flags/options to your application instance
      // when it is created
    }
  };

  if (environment === 'development') {
    // ENV.APP.LOG_RESOLVER = true;
    // ENV.APP.LOG_ACTIVE_GENERATION = true;
    ENV.APP.fjarrkontrollenServiceUrl = 'https://<FJÄRRKONTROLLEN LOCAL API>';
    ENV.APP.registrationUrl = 'https://<BIBLIOTEKSKORT LOCAL API>';
    // ENV.APP.LOG_VIEW_LOOKUPS = true;
    ENV.contentSecurityPolicyHeader = 'Disabled-Content-Security-Policy';
  }

  if (environment === 'test') {
    // Testem prefers this...
    ENV.locationType = 'none';

    // keep test console output quieter
    ENV.APP.LOG_ACTIVE_GENERATION = false;
    ENV.APP.LOG_VIEW_LOOKUPS = false;

    ENV.APP.rootElement = '#ember-testing';
    ENV.APP.autoboot = false;
  }
  else if (environment === 'lab') {
    ENV.APP.fjarrkontrollenServiceUrl = 'https://<FJÄRRKONTROLLEN LAB API>';
    ENV.APP.registrationUrl = 'https://<BIBLIOTEKSKORT LAB API>';
  }
  else if (environment === 'staging') {
    ENV.APP.fjarrkontrollenServiceUrl = 'https://<FJÄRRKONTROLLEN STAGING API>';
    ENV.APP.registrationUrl = 'https://<BIBLIOTEKSKORT STAGING API>';
  }

  else if (environment === 'production') {
    ENV.APP.fjarrkontrollenServiceUrl = 'https://<FJÄRRKONTROLLEN PRODUCTION API>';
    ENV.APP.registrationUrl = 'https://<BIBLIOTEKSKORT PRODUCTION API>';
  }

  ENV.i18n = {
    defaultLocale: 'sv'
  };

  return ENV;
};
