<h3>Step 4</h3>
<div class="row">
	<div class="col-xs-12">
        <button {{action 'nextstep'  }} {{ bind-attr class=":btn :btn-primary isDisabled:disabled"}}>Nästa</button>
        <button {{action 'stepcancel'}} {{ bind-attr class=":btn :btn-primary                    "}}>Avbryt</button>
	</div>
</div>
