<h3>Bekräftelse</h3>

<div class="row">
	<div class="col-xs-12">
		Här är ditt lång jobbiga referensnummer: {{model}}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
        <button {{action 'resetForm'  }} {{ bind-attr class=":btn :btn-primary isDisabled:disabled"}}>Beställ en till</button>
	</div>
</div>
