<h3>Step 5</h3>
<div class="row">
	<div class="col-xs-12">
        <button {{action 'savestep'  }} {{ bind-attr class=":btn :btn-primary isDisabled:disabled"}}>Bekräfta</button>
        <button {{action 'stepcancel'}} {{ bind-attr class=":btn :btn-primary                    "}}>Avbryt</button>
	</div>
</div>
