default: &default
  host: localhost
  port: 5432
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  adapter: postgresql
  encoding: unicode
  database: <DATABASE NAME>
  template: template0
  username: <USERNAME>
  password: <PASSWORD>

development:
  <<: *default

production:
  <<: *default

staging:
  <<: *default

lab:
  <<: *default
